<% if (config['custom'].valine) { %>
<div id="vcomments" class="cloud-tie-wrapper"></div>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
new Valine({
	el: '#vcomments',
	appId: '<%= config['custom'].valine.appid %>',
	appKey: '<%= config['custom'].valine.appkey %>',
	placeholder: '说些什么吧',
	visitor: true
})
</script>
<% } %>
