<li>
    <strong>其他</strong>
    <ul>
        <li><a href="https://github.com/Lotlab/wiki">Github</a></li>
        <li><a href="/page/terms">协议</a></li>
        <li><a href="/page/contribute">贡献</a></li>
    </ul>
</li>
